In [1]:
#Creating Spark session
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Practice App").getOrCreate()

In [2]:
#Reading a CSV file in spark
dataframe=spark.read.csv(header=True,path="C://Users//dell//Downloads//unique-passenger-counts-over-100-by-NZ-port-and-citizenship-year-ended-june-2020.csv")

In [3]:
#printing schema of datatframe i.e. column names and its datatypes
dataframe.printSchema()

root
 |-- NZ Port: string (nullable = true)
 |-- Citizenship: string (nullable = true)
 |-- Count: string (nullable = true)
 |-- Year: string (nullable = true)

In [4]:
dataframe=spark.read.csv(header=True,path="C://Users//dell//Downloads//unique-passenger-counts-over-100-by-NZ-port-and-citizenship-year-ended-june-2020.csv",
                        inferSchema=True)
dataframe.printSchema()

root
 |-- NZ Port: string (nullable = true)
 |-- Citizenship: string (nullable = true)
 |-- Count: integer (nullable = true)
 |-- Year: integer (nullable = true)

In [5]:
#metadata information

In [6]:
#printing list of columns
columns=dataframe.columns
print(columns)

['NZ Port', 'Citizenship', 'Count', 'Year']

In [7]:
#printing number of rows in dataframe
number_of_rows=dataframe.count()
print(number_of_rows)

2094

In [8]:
#printing first row of dataframe
dataframe.head()

Row(NZ Port='Akaroa', Citizenship='Australia', Count=73145, Year=2015)

In [10]:
#printing last 5 rows of dataframe
dataframe.tail(5)

[Row(NZ Port='Wellington', Citizenship='Total', Count=161335, Year=2016),
 Row(NZ Port='Wellington', Citizenship='Total', Count=163871, Year=2017),
 Row(NZ Port='Wellington', Citizenship='Total', Count=162223, Year=2018),
 Row(NZ Port='Wellington', Citizenship='Total', Count=222448, Year=2019),
 Row(NZ Port='Wellington', Citizenship='Total', Count=190754, Year=2020)]

In [11]:
#To check if the dataframe is empty or holds data
dataframe.isEmpty()

False

In [12]:
dataframe.explain()

== Physical Plan ==
FileScan csv [NZ Port#42,Citizenship#43,Count#44,Year#45] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/dell/Downloads/unique-passenger-counts-over-100-by-NZ-p..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<NZ Port:string,Citizenship:string,Count:int,Year:int>

In [14]:
#printing number of unique records
dataframe.distinct().count()

2094

In [15]:
dataframe.show()

+-------+--------------------+-----+----+
|NZ Port|         Citizenship|Count|Year|
+-------+--------------------+-----+----+
| Akaroa|           Australia|73145|2015|
| Akaroa|             Austria|  125|2015|
| Akaroa|             Belgium|  158|2015|
| Akaroa|              Brazil|  314|2015|
| Akaroa|              Canada| 4522|2015|
| Akaroa|China, Peoples Re...| 1507|2015|
| Akaroa|             Denmark|  143|2015|
| Akaroa|              France|  266|2015|
| Akaroa|             Germany| 1202|2015|
| Akaroa|Hong Kong (Specia...|  417|2015|
| Akaroa|               India|  118|2015|
| Akaroa|             Ireland|  176|2015|
| Akaroa|              Israel|  243|2015|
| Akaroa|               Italy|  234|2015|
| Akaroa|               Japan|  845|2015|
| Akaroa|            Malaysia|  342|2015|
| Akaroa|              Mexico|  439|2015|
| Akaroa|         Netherlands|  383|2015|
| Akaroa|         New Zealand| 6294|2015|
| Akaroa|         Philippines|  145|2015|
+-------+--------------------+-----+----+
only showing top 20 rows

In [16]:
#Counting number of rows with year as 2015 in dataframe
dataframe.select(dataframe['year']).where(dataframe['year']==2015).count()

282