In [3]:
import pandas as pd

In [4]:
gods_df={'Name':['Zeus','Poseidon','Hera','Athena','Hades'],
         'Domain':['King of the Gods','God of the Sea','Queen of the Gods','Goddess of Wisdom','God of the Underworld'],
         'Symbol':['Thunderbolt','Trident','Peacock','Owl','Helmet'],
         'Age':[10000,9000,8500,8000,9500]
        }

In [5]:
greek_gods=pd.DataFrame(gods_df)

In [6]:
greek_gods

       Name                 Domain       Symbol    Age
0      Zeus       King of the Gods  Thunderbolt  10000
1  Poseidon         God of the Sea      Trident   9000
2      Hera      Queen of the Gods      Peacock   8500
3    Athena      Goddess of Wisdom          Owl   8000
4     Hades  God of the Underworld       Helmet   9500

In [7]:
goddess_df={'Name':['Aphrodite','Artemis','Demeter','Hestia','Persephone'],
           'Domain':['Goddess of Love','Goddess of the Hunt','Goddess of Agriculture','Goddess of the Hearth','Queen of the Underworld'],
           'Symbol':['Dove','Bow and Arrow','Wheat','Fire','Pomegranate'],
           'Age':[7000,7500,8000,8200,7800]
           }

In [8]:
greek_goddess=pd.DataFrame(goddess_df)

In [9]:
greek_goddess

         Name                   Domain         Symbol   Age
0   Aphrodite          Goddess of Love           Dove  7000
1     Artemis      Goddess of the Hunt  Bow and Arrow  7500
2     Demeter   Goddess of Agriculture          Wheat  8000
3      Hestia    Goddess of the Hearth           Fire  8200
4  Persephone  Queen of the Underworld    Pomegranate  7800

In [10]:
#Question1 Merge the data

In [11]:
merged_df=pd.merge(greek_gods,greek_goddess,how='outer')

In [12]:
merged_df

         Name                   Domain         Symbol    Age
0        Zeus         King of the Gods    Thunderbolt  10000
1    Poseidon           God of the Sea        Trident   9000
2        Hera        Queen of the Gods        Peacock   8500
3      Athena        Goddess of Wisdom            Owl   8000
4       Hades    God of the Underworld         Helmet   9500
5   Aphrodite          Goddess of Love           Dove   7000
6     Artemis      Goddess of the Hunt  Bow and Arrow   7500
7     Demeter   Goddess of Agriculture          Wheat   8000
8      Hestia    Goddess of the Hearth           Fire   8200
9  Persephone  Queen of the Underworld    Pomegranate   7800

In [13]:
#Question2 Filter the merger table

In [14]:
task2=merged_df[merged_df['Age']>8000].sort_values(by='Age',ascending=False).reset_index(drop=True)

In [15]:
task2

       Name                 Domain       Symbol    Age
0      Zeus       King of the Gods  Thunderbolt  10000
1     Hades  God of the Underworld       Helmet   9500
2  Poseidon         God of the Sea      Trident   9000
3      Hera      Queen of the Gods      Peacock   8500
4    Hestia  Goddess of the Hearth         Fire   8200

In [16]:
#Question3

In [17]:
task3=merged_df.groupby('Domain')['Age'].mean()

In [18]:
task3

Domain
God of the Sea              9000.0
God of the Underworld       9500.0
Goddess of Agriculture      8000.0
Goddess of Love             7000.0
Goddess of Wisdom           8000.0
Goddess of the Hearth       8200.0
Goddess of the Hunt         7500.0
King of the Gods           10000.0
Queen of the Gods           8500.0
Queen of the Underworld     7800.0
Name: Age, dtype: float64

In [19]:
#Question4

In [20]:
task4=merged_df.sort_values(by='Age',ascending=False).head(1)

In [21]:
task4

   Name            Domain       Symbol    Age
0  Zeus  King of the Gods  Thunderbolt  10000

In [28]:
if greek_gods['Name'].isin(task4.Name).any():
    print('God')
else:
    print('Goddess')

God

In [29]:
#Question5:Adding a new column named Age_group

In [31]:
greek_gods['Age_Group']=greek_gods.Age.apply(lambda x:"Young" if x<=5000 else "Middle-Aged" if x<=8000 else "Old")

In [32]:
greek_gods

       Name                 Domain       Symbol    Age    Age_Group
0      Zeus       King of the Gods  Thunderbolt  10000          Old
1  Poseidon         God of the Sea      Trident   9000          Old
2      Hera      Queen of the Gods      Peacock   8500          Old
3    Athena      Goddess of Wisdom          Owl   8000  Middle-Aged
4     Hades  God of the Underworld       Helmet   9500          Old

In [33]:
greek_goddess['Age_Group']=greek_goddess.Age.apply(lambda x:"Young" if x<=5000 else "Middle-Aged" if x<=8000 else "Old")

In [34]:
greek_goddess

         Name                   Domain         Symbol   Age    Age_Group
0   Aphrodite          Goddess of Love           Dove  7000  Middle-Aged
1     Artemis      Goddess of the Hunt  Bow and Arrow  7500  Middle-Aged
2     Demeter   Goddess of Agriculture          Wheat  8000  Middle-Aged
3      Hestia    Goddess of the Hearth           Fire  8200          Old
4  Persephone  Queen of the Underworld    Pomegranate  7800  Middle-Aged

In [35]:
#Question6:Comparing average age of gods and goddess

In [36]:
if greek_gods.Age.mean()>greek_goddess.Age.mean():
    print("Greek Gods tends to be older")
elif greek_gods.Age.mean()<greek_goddess.Age.mean():
    print("Greek Goddess tends to be older")
else:
    print("Around same age")

Greek Gods tends to be older

In [37]:
#Question7:using while loop to iterate over the ages of merged table and printing names with age greater yhan 8000

In [44]:
for x in range(len(merged_df)):
    if merged_df.loc[x,'Age']>8000:
        print(merged_df.loc[x,'Name'])

Zeus
Poseidon
Hera
Hades
Hestia

In [45]:
#Question8:Write a Python program to find the oldest god/goddess from the merged table (after merging the gods and goddesses tables) by iterating through the "Age" column using a while loop. Print out the name of the oldest god/goddess and their age.)

In [49]:
i=1
god_name=merged_df.loc[0,'Name']
god_age=merged_df.loc[0,'Age']
while i<len(merged_df):
    if merged_df.loc[i,'Age']>god_age:
        god_age=merged_df.loc[i,'Age']
        god_name=merged_df.loc[i,'Name']
    i=i+1
print(god_name)
print(god_age)

Zeus
10000